* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1b1b1b;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

header .links {
    list-style: none;
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    max-width: 400px;
}

header .links a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: #1b1b1b;
    transition: background 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
    flex: 1;
}

.menu a:hover {
    background-color: #333;
}

header .barra-de-pesquisa {
    display: flex;
    gap: 0.5rem;
}

header .barra-de-pesquisa input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header .barra-de-pesquisa button {
    padding: 0.5rem 1rem;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .barra-de-pesquisa button:hover {
    background-color: #777;
}


main {
    padding: 2rem;
}

main h2 {
    color: #fff;
} 

main p {
    color: #fff;
}


.carrossel {
    margin: 2rem 0;
    text-align: center;
}

.carrossel-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    
}

.slides {
    display: flex;
    width: 800px; 
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
}

.filme img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    display: block

}

input[type="radio"] {
    display: none;
}

.navegacao {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.barra {
    width: 20px;
    height: 5px;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.barra:hover {
    background-color: #777;
}

#slide1:checked ~ .slides {
    transform: translateX(0%);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

#slide4:checked ~ .slides {
    transform: translateX(-300%);
}

#slide5:checked ~ .slides {
    transform: translateX(-400%);
}

.filme {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filme:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

